:root{
    --side-font-size: 20px;
    --btn-hover-color: rgb(221, 221, 221);
}


.setting-game-title{
    font-size: 30px;
    font-weight: lighter;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 10px;
    margin-top: 20px;
    /* color: var(--text-bright); */
}

.time-picker.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.time-picker.title{
    margin: 0;
    padding: 0;
    font-size: var(--side-font-size);
}

.manual-time-select-section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    padding-top: 15px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.number-select-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.time-input-field{
    cursor: pointer;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    width: 65px;
    height: 100px; 
    border-radius: 10px;   
    border: solid 1px rgb(187, 187, 187);
}
.time-input-title{
    margin-top: 5px;
}
.colon{ 
    margin: 5px;
    font-size: 35px;
    color: rgb(187, 187, 187);
    margin-bottom: 25px;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.timer-presets.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px;
    margin-top: 10px;
    border-radius: 10px;
    width: 350px;
}
.timer-presets.btn{
    width: 90px;
    margin: 3px;
    height: 35px;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    font-weight: bold;

    &:hover{
        background-color: var(--btn-hover-color);
    }
    &.selected{
        background-color: black;
        color: white;
    }
}

.side-picker.container{
    margin-bottom: 10px;
}
.side-picker.title{
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    text-align: center;
    font-size: var(--side-font-size);
}
.side-picker.btn{
    width: 90px;
    height: 35px;
    border: 0;
    border-radius: 5px;
    margin: 3px;
    font-weight: bolder;
    &:hover{
        background-color: var(--btn-hover-color);
    }
    &.selected{
        background-color: black;
        color: white;
    }
    /* &.white{

    }
    &.black{
        background-color: black;
        color: white
    }
    &.random{

    } */
}
