
.open-menu__input-container{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    gap: 10px;
}

.open-menu__input{
    font-size: 18px;
    width: 250px;
    height: 35px;
    border: 0;

    &:focus{
        outline: 0;
        border-bottom: solid 4px var(--side-gui-elements-color);
        margin-bottom: -4px;

    }
}