.main-nav-bar{
    flex: 0.1;
    width: 200px;
    height: 100vh;
    background-color: var(--bg-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.main-nav__btn-container{
    margin-top: 10px;
}
.nav-btn{
    width: 150px;
    margin: 5px;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    font-size: 15px;

    &.return-home-btn{
        color: white;
        background-color: var(--side-gui-elements-color);
        
        &:hover{
            background-color: color-mix(in srgb, var(--side-gui-elements-color), rgb(0, 0, 0) 20%);
        }
        &:active{
            background-color: color-mix(in srgb, var(--side-gui-color), rgb(0, 0, 0) 40%);
        }
    }
    &.last-game-btn{
        color: rgb(70, 70, 70);
        
        &:hover{
            background-color: rgb(221, 221, 221);
        }
    }

}
