body{
    display: flex;
    justify-content: center;
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
}
.cell img {
    width: 50%;
    height: 75%;
}
.cell.selected{
    background-color: color-mix(in srgb, var(--white-cell-color) 70%, var(--black-cell-color));
}
.cell.available::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: rgba(83, 83, 83, 0.5);
    border-radius: 50%;
}

.white-cell{
    background-color: var(--white-cell-color);
}
.black-cell{
    background-color: var(--black-cell-color);
}

.board{
    user-select: none;
    border-width: 1px;
    border-style: solid;
}
.board-row{
    display: flex;
}

.figure{
    text-align: center;
}
.b-figure{
    color: black;
}
.w-figure{
    color: white;
}
