
.game-info.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 250px;
    /* border: solid 1px; */
    background-color: var(--side-gui-color)
}

/* MOVES STORY */

.game-info.move-list{
    width: 92%;
    margin-top: 10px;
    margin-bottom: 5px;
    max-height: 250px;
    height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--side-gui-elements-color) #f1f1f1;
    border: solid 1px black;
}

.move-info-container{
    display: flex;
    margin-top: 5px;
    background-color: var(--side-gui-elements-color);
    align-items: center;
    cursor: pointer;
    user-select: none;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
}

.move-story-elements{   
    font-size: 20px;
    margin: 5px;
}

.move-counter{
    margin-left: 10px;
    width: 15px;
}

.game-info-figure-image{
    margin: 10px;
    width: 15px;
    height: 23px;
}

/* CHAT */

.game-info.chat{
    &.container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 10px;
        height: 250px;
        border: solid 1px black;
        width: 92%;
    }
    
    &.list{
        width: 100%;
    }

    &.message{
        width: 95%;
        margin-left: 5px;
        /* border-bottom: solid 1px var(--side-gui-elements-color); */
    }

    &.input{
        &.container{
            flex: 0;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            width: 100%;
            margin: 0;
        }

        &.field{
            border: 0;
            width: 85%;
            padding: 0;
            height: 100%;

            &:focus{
                border: 0;
                outline: none;
            }
            &:focus{
                border-bottom: solid 2px var(--side-gui-elements-color);
                margin-bottom: -2px;
            }
        }   

        &.btn{
            height: 100%;
            background-color: rgba(0,0,0,0);
            border: 0;
            font-size: 15px;
            border-radius: 15px;
            padding: 0;
            width: 15%;
            &:hover{
                cursor: pointer;
            }
            &:active{
                font-size: 20px;
                margin-top: -5px;
            }
        }
    }
}

