body{
    display: flex;
    justify-content: center;
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--board-width) / 8);
    height: calc(var(--board-width) / 8);;
}
.cell img {
    width: 85%;
    height: 85%;
}
.cell.selected{
    background-color: color-mix(in srgb, var(--white-cell-color) 70%, var(--black-cell-color));
}
.cell.available::after{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
}

.white-cell{
    background-color: var(--white-cell-color);
}
.black-cell{
    background-color: var(--black-cell-color);
}

.board{
    user-select: none;
    /* border-width: 1px;
    border-style: solid; */
    width: fit-content;
}
.board-row{
    display: flex;
}

.figure{
    text-align: center;
}
.b-figure{
    color: black;
}
.w-figure{
    color: white;
}
