body{
    display: flex;
    justify-content: center;
    user-select: none;
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
}
.cell img {
    width: 50%;
    height: 75%;
}
.cell.selected{
    background-color: bisque;
}
.cell.available::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: rgba(83, 83, 83, 0.5);
    border-radius: 50%;
}

.white-cell{
    background-color: rgb(255, 183, 88);
}
.black-cell{
    background-color: rgb(201, 61, 27);
}

.board{
    border-width: 1px;
    border-style: solid;
}
.board-row{
    display: flex;
}

.figure{
    text-align: center;
}
.b-figure{
    color: black;
}
.w-figure{
    color: white;
}
