:root{
    --black-cell-color: rgb(116, 56, 23);
    --white-cell-color: rgb(224, 176, 113);
    --gray-btn-hover-color: rgb(221, 221, 221);
    --board-width: 500px;
}

#root{
    width: 100%;
}

body{
    margin: 0;
    background-color: var(--main-color);
}

.main-container{
    display: flex;
    
}
.page-container {
    display: flex;
    flex: 0.9;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* background-color: var(--main-color); */
}
.full-game-container{
    width: 100%;
    display: flex;
    align-items: center;
}
.vertical-game-container{
    width: var(--board-width);
    gap: 5px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}