:root{
    --main-color: rgb(255, 255, 255);
    --side-gui-color: rgb(255, 206, 142);
    --side-gui-elements-color: rgb(186, 83, 28);
    --black-cell-color: rgb(186, 83, 28);
    --white-cell-color: rgb(255, 206, 142);
}

#root{
    width: 100%;
}

body{
    margin: 0;
    background-color: var(--main-color);
}

.main-container{
    display: flex;
    
}
.page-container {
    display: flex;
    flex: 0.9;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* background-color: var(--main-color); */
}
.full-game-container{
    display: flex;

}
.vertical-game-container {
    display: flex;
    flex-direction: column;
}