body{
    display: flex;
    justify-content: center;
}

#start-btn-container{
    display: flex;
    align-items: center;
    height: 75vh;
}

#start-btn{
    color: white;
    padding: 20px 30px;
    border: none;
    background-color: rgb(0, 99, 0);

    &:hover{
        cursor: pointer;
    }
    &:active{
        background-color:rgb(0, 78, 0);
    }
}