.open-menu__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: fit-content;
    min-height: 350px;
    background-color: white;
    border-radius: 10px;
    z-index: 2;
    align-self: center;
    justify-self: center;
    grid-area: stack;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    /* color: var(--text-main) */
}

.home-menu__btn{
    border: 0;
    border-radius: 10px;
    font-weight: bold;
    width: 125px;
    height: 40px;
    font-size: 15px; 
    margin: 5px;
    cursor: pointer;
    
    &.confirm-btn{
        color: white;
        background-color: var(--side-gui-elements-color);
        font-weight: lighter;

        &:hover{
            background-color: color-mix(in srgb, var(--side-gui-elements-color), rgb(0, 0, 0) 20%);
        }
        &:active{
            background-color: color-mix(in srgb, var(--side-gui-color), rgb(0, 0, 0) 40%);
        }
    }
    &.return-btn{
        font-weight: lighter;
        color: black;

        &:hover{
            background-color: var(--btn-hover-color);
        }
    }
}

.home-menu__navigate-container{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

