

.home-menu__btn{
    border: 0;
    border-radius: 10px;
    font-weight: bold;
    width: 125px;
    height: 40px;
    font-size: 15px; 
    margin: 5px;
    cursor: pointer;
    
    &.confirm-btn{
        color: white;
        background-color: var(--side-gui-elements-color);
        font-weight: lighter;

        &:hover{
            background-color: color-mix(in srgb, var(--side-gui-elements-color), rgb(0, 0, 0) 20%);
        }
        &:active{
            background-color: color-mix(in srgb, var(--side-gui-color), rgb(0, 0, 0) 40%);
        }
    }
    &.return-btn{
        font-weight: lighter;
        color: black;

        &:hover{
            background-color: var(--btn-hover-color);
        }
    }
}

.home-menu__navigate-container{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

